{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_toolkit %}
{% block bootstrap3_content %}
<div class="container">
    <nav class="navbar navbar-inverse">
        
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Traint</a>
        </div>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">New Dresses</a></li>
                <li><a href="#">Recommendations</a></li>
            </ul>
            <ul class="nav">
                <li><a style="color: #fffefc; float:right;" href="{% url 'logout' %}">Logout</a></li>
                <li><a style="color: #838784; float:right;">Hey, {{ user.username }}!</a></li>
            </ul>
        {% else %}
            <ul class="nav">
                <li><a style="color: #fffefc; float:right;" href="/accounts/register">Register</a></li>
                <li><a style="color: #fffefc; float:right;" href="{% url 'login' %}">Login</a></li>
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
{% block content %}
{% endblock %}

