<!-- Displays details about the dress and allows user to add ratings-->
{% extends 'base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <h2 style="color: #24282e"> {{ dress.name }}</h2>   
        <img src="{{ dress.image.url }}">
        <h3>Price: ${{ dress.price }}</h3>
        <h5>{{ dress.review_set.count }} ratings ({{ dress.average_rating | floatformat }} average rating)</h5>
    </div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user.is_authenticated %}
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %} <!-- security concern - preventd CSRF attack-->
            {{ form|crispy }} <!-- formas contents split between paragraphs because of this-->
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Add
            </button>
            {% endbuttons %}
        </form>
    </div>
{% endif %}
{% endblock %}

